<div id="processing-steps-test"
    data-controller="assignment-processor"
    data-assignment-processor-current-step-value="<%= current_step %>">
  <p class="text-lg font-semibold mb-4">Current Step: <%= current_step %></p>
</div>