<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <%= turbo_stream_from "assignment_#{@assignment.id}_steps" %>
  
  <div id="assignment-content-container">
    <% if @assignment.processing_steps.all?(&:completed?) %>
      <%= render "assignment_content", assignment: @assignment %>
    <% else %>
      <%= render "processing_steps", processing_steps: @assignment.processing_steps.ordered %>
    <% end %>
  </div>
</div>