<%# This partial contains the navigation links shared between desktop and mobile views %>
<ul role="list" class="-mx-2 space-y-1">
  <li>
    <%= link_to new_assignment_path, class: "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-blue-600" do %>
      <%= render "shared/icons/folder_plus", aria_hidden: true, focusable: false, class: "size-6 shrink-0 text-gray-400 group-hover:text-blue-600" %>
      Create assignment
    <% end %>
  </li>
  <li>
    <%= link_to assignments_path, class: "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-blue-600" do %>
      <%= render "shared/icons/folder", aria_hidden: true, focusable: false, class: "size-6 shrink-0 text-gray-400 group-hover:text-blue-600" %>
      Assignments
    <% end %>
  </li>
</ul>
