<%# SECTION: Frequently Asked Questions %>
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Frequently asked questions</h2>
      <p class="mt-6 text-base/7 text-gray-600">Have a different question and can't find the answer you're looking for? Reach out to our support team by <a href="#" class="font-semibold text-blue-600 hover:text-blue-500">sending us an email</a> and we'll get back to you as soon as we can.</p>
    </div>
    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:space-y-0 sm:gap-x-6 sm:gap-y-16 lg:grid-cols-3 lg:gap-x-10">
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">How accurate is the feedback?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">GradeBot provides highly accurate and consistent feedback based on the assignment you provide and the grading rubric. You always have the final say and can adjust any feedback before it goes to the students.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">How long does it take to grade assignments?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">Most assignments are graded within minutes. A typical class set set of 30 5-page essays can be processed in well under an hour.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">Is my students' data secure?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">Absolutely. We use industry-standard encryption and never store any student work or personally identifiable information. Everything comes from Google Drive and is not stored on our servers.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">Can I customize the feedback?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">Yes! You can set the tone of the feedback from encouraging to critical. The feedback is also entirely based on the assignment you provide.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">Isn't AI just grading AI at this point?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">We share your concern that students might be using large language models (LLMs) to generate their work. That's why GradeBot runs checks that can help detect LLM generated work.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">I already use AI to grade my students' work, why should I give GradeBot a try?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">Lot's of teachers paste student work into ChatGPT. In fact hearing about one such teacher inspired this product. GradeBot takes the workflow you might already be using and puts it into a tool that is easy to use and powerful.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
